<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-geofence" version="0.6.1-dev">
    <name>geofence</name>
    <description>Geofence plugin</description>
    <license>Apache 2.0</license>
    <keywords>phonegap,background geolocation, geofence</keywords>
    <repo>https://github.com/chancezeus/cordova-plugin-geofence.git</repo>
    <issue>https://github.com/chancezeus/cordova-plugin-geofence/issues</issue>

    <engines>
        <engine name="cordova" version=">=6.4.0"/>
        <engine name="cordova-android" version=">=6.0.0"/>
        <engine name="cordova-ios" version=">=4.3.0"/>
    </engines>

    <js-module src="www/geofence.js" name="Geofence">
        <clobbers target="plugins.Geofence"/>
    </js-module>

    <dependency id="cordova-plugin-compat" version="^1.0.0"/>

    <!-- android -->
    <platform name="android">
        <source-file src="src/android/data/Fence.java" target-dir="src/com/appelit/geofence/data"/>
        <source-file src="src/android/data/Notification.java" target-dir="src/com/appelit/geofence/data"/>
        <source-file src="src/android/data/NotificationAction.java" target-dir="src/com/appelit/geofence/data"/>
        <source-file src="src/android/data/TransitionEvent.java" target-dir="src/com/appelit/geofence/data"/>
        <source-file src="src/android/data/TransitionLocation.java" target-dir="src/com/appelit/geofence/data"/>
        <source-file src="src/android/GeofenceActionButtonHandler.java" target-dir="src/com/appelit/geofence"/>
        <source-file src="src/android/GeofenceReceiver.java" target-dir="src/com/appelit/geofence"/>
        <source-file src="src/android/GeofenceConstants.java" target-dir="src/com/appelit/geofence"/>
        <source-file src="src/android/GeofenceHandlerActivity.java" target-dir="src/com/appelit/geofence"/>
        <source-file src="src/android/GeofenceManager.java" target-dir="src/com/appelit/geofence"/>
        <source-file src="src/android/GeofencePlugin.java" target-dir="src/com/appelit/geofence"/>
        <source-file src="src/android/GeofenceTransitionsIntentService.java" target-dir="src/com/appelit/geofence"/>
        <source-file src="src/android/Gson.java" target-dir="src/com/appelit/geofence"/>
        <source-file src="src/android/LocalStorage.java" target-dir="src/com/appelit/geofence"/>
        <source-file src="src/android/LocalStorageDBHelper.java" target-dir="src/com/appelit/geofence"/>

        <framework src="com.google.android.gms:play-services-location:+"/>
        <framework src="com.android.support:support-v13:+"/>
        <framework src="com.google.code.gson:gson:+"/>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
            <uses-permission android:name="android.permission.VIBRATE"/>
        </config-file>

        <config-file target="config.xml" parent="/*">
            <feature name="Geofence">
                <param name="android-package" value="com.appelit.geofence.GeofencePlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.appelit.geofence.GeofenceHandlerActivity" android:exported="true"/>
            <service android:name="com.appelit.geofence.GeofenceTransitionsIntentService" android:exported="true"/>
            <receiver android:name="com.appelit.geofence.GeofenceActionButtonHandler"/>
            <receiver android:name="com.appelit.geofence.GeofenceReceiver" android:enabled="true" android:exported="true">
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED"/>
                </intent-filter>
                <intent-filter>
                    <action android:name="android.location.PROVIDERS_CHANGED"/>
                </intent-filter>
            </receiver>
        </config-file>
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Geofence">
                <param name="ios-package" value="GeofencePlugin"/>
            </feature>
        </config-file>
        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>location</string>
            </array>
        </config-file>
        <preference name="GEOLOCATION_BACKGROUND_USAGE_DESCRIPTION"
                    default="${EXECUTABLE_NAME} Would Like to Use Your Current Location Even In Background."/>
        <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
            <string>$GEOLOCATION_BACKGROUND_USAGE_DESCRIPTION</string>
        </config-file>
        <preference name="GEOLOCATION_USAGE_DESCRIPTION"
                    default="${EXECUTABLE_NAME} Would Like to Use Your Current Location When In Use."/>
        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string>$GEOLOCATION_USAGE_DESCRIPTION</string>
        </config-file>
        <header-file src="src/ios/AppDelegate+GeofencePlugin.h"/>
        <source-file src="src/ios/AppDelegate+GeofencePlugin.m"/>
        <header-file src="src/ios/GeofencePlugin.h"/>
        <source-file src="src/ios/GeofencePlugin.m"/>
        <framework src="CoreLocation.framework" />
        <franework src="UserNotifications.framework" />
    </platform>
</plugin>
